<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ATOKスタイル_Revision</key>
	<integer>1</integer>
	<key>ATOKスタイル_Version</key>
	<integer>27</integer>
	<key>キー</key>
	<data>
	AAAAGAAYAE8ATwCPAI8A0QDRAPsA+wEj////////////////////////////////////
	//////8BIwEzATMBMxQSESj/////AB8RCP///////wAgBQ0FbxENEW8APBQFESf/////
	AEEUGgFQ/////wBJFBgFUP////8ASiAg////////AFcUFgVS/////wB9FAIRUv////8A
	fhQDAVL/////AIwUGf///////wCfFAj///////8AsBQEESv/////ALQVK////////wC+
	FAH///////8AwBQGESz/////AMEVLP///////wDDEWUhZf////8AxhFoIWj/////AMcU
	MP///////wDPFBP///////8A0BQx////////ANUBG////////wDZFBT///////8A7gEI
	EAj/////AAAQBwFk/////wABAWcQDP////8AAgFmEAv/////AAMRZyFnFAz//wAEEWYh
	ZhQL//8ABRQK////////AAcAICAg/////wAIBCD///////8ACQVo////////AAoQAAEq
	/////wALEBUBJv////8ADBAJASf/////AA0QDwEo/////wAOEBABKf////8ADxAxASH/
	////ABEQMgEi/////wASEDMBI/////8AExA0AST/////ABQQNQEl/////wAVFDYFJv//
	//8AFgFoEA7/////ABsUIBAg/////wAcAQ0QDQFv//8AHQEbAUcFG///AB4RCP//////
	/wAgEAr///////8ALwUNBW8RDRFvADwUGgFQ/////wBJFBgFUP////8AShAXAWr/////
	AF4UFwVq/////wBfEAH///////8AayEJ////////AHgUFgVS/////wB9FAIRUv////8A
	fhA7ASv/////AH8UAwFS/////wCMAQn///////8AnhQI////////ALAUBBEr/////wC0
	FSv///////8AvhQB////////AMAVLP///////wDDEWUFCSFl//8AxhFoIWj/////AMcU
	MP///////wDPFBP///////8A0BQx////////ANUhDSFv/////wDYFWIgbv////8A5xVh
	IG3/////AOgkdxVq/////wDqEBT///////8A7RQU////////AO4QBwFk/////wABACAg
	IP////8ACAQg////////AAkFaP///////wAKEAABKv////8ACxAVASb/////AAwQCQEn
	/////wANEA8BKP////8ADhAQASn/////AA8QMQEh/////wAREDIBIv////8AEhAzASP/
	////ABMQNAEk/////wAUEDUBJf////8AFRQ2BSb/////ABYBaBAO/////wAbFCAQIP//
	//8AHAENEA0Bb///AB0BG////////wAeEQj///////8AIBAK////////AC8BYhQO////
	/wAwAWEUDf////8AMQEIEAgBRwUbADIUCv///////wAzAWcQDP////8ANAFmEAv/////
	ADUFZxQM/////wA2BWYUC/////8ANxFnIWcgbP//ADgRZiFmIGv//wA5EAQRZP////8A
	OgVk////////ADsFDQVvEQ0RbwA8FBoBUP////8ASRQYBVD/////AEoQFwFq/////wBe
	FBcFav////8AXxAB////////AGshCf///////wB4FWf///////8AexVm////////AHwU
	FgVS/////wB9FAIRUv////8AfhA7ASv/////AH8UAwFS/////wCMFAj///////8AsBQE
	ESv/////ALQVK////////wC+FAH///////8AwBUs////////AMMRZSFl/////wDGAQkR
	aCFo//8AxxQw////////AM8UE////////wDQEBP///////8A0RQx////////ANUhDSFv
	/////wDYFWIgbv////8A5xVhIG3/////AOgkdxVq/////wDqEBT///////8A7RQU////
	////AO4Baf///////wDbEAcBZP////8AAQAgEWghaP//AAgEIAFlEWUhZQAJBWj/////
	//8AChAAASr/////AAsQFQEm/////wAMEAkBJ/////8ADRAPASj/////AA4QEAEp////
	/wAPEDEBIf////8AERAyASL/////ABIQMwEj/////wATEDQBJP////8AFBA1ASX/////
	ABUUNgUm/////wAWAWgQDv////8AGxQgECD/////ABwBDRANAW///wAdARv///////8A
	HgFiFA7/////ADABYRQN/////wAxAQgQCAFHBRsAMhQK////////ADMBZxAM/////wA0
	AWYQC/////8ANQVnFAz/////ADYFZhQL/////wA3EWchZyBs//8AOBFmIWYga///ADkQ
	BBFk/////wA6BWT///////8AOwUNBW8RDRFvADwgIP///////wA+JCD///////8APxQa
	AVD/////AEkUGAVQ/////wBKEBcBav////8AXhQXBWr/////AF8QAf///////wBrAQkQ
	Cv////8AdgUJ////////AHchCf///////wB4FWf///////8AexVm////////AHwUFgVS
	/////wB9FAIRUv////8AfhA7ASv/////AH8UAwFS/////wCMEWIULP////8AjhFhFC7/
	////AI8UCP///////wCwFAQRK/////8AtBUr////////AL4UAf///////wDAFSz/////
	//8AwxQw////////AM8UE////////wDQEBP///////8A0RQx////////ANUhDSFv////
	/wDYFWIgbv////8A5xVhIG3/////AOgkdxVq/////wDqEBT///////8A7RQU////////
	AO4Baf///////wDbEAABKv////8ACxAVASb/////AAwQCQEn/////wANEA8BKP////8A
	DhAQASn/////AA8QMQEh/////wAREDIBIv////8AEhAzASP/////ABMQNAEk/////wAU
	EDUBJf////8AFRQ2BSb/////ABYBCBAIAUcFGwAyFAr///////8AMxAEEWT/////ADoF
	ZP///////wA7ICD///////8APiQg////////AD8UGgFQ/////wBJFBgFUP////8ASgEJ
	EAr/////AHYFCf///////wB3IQn///////8AeBQWBVL/////AH0UAhFS/////wB+EDsB
	K/////8AfxQDAVL/////AIwRYhQs/////wCOEWEULv////8AjwAgAWcUIBAgAKgBZv//
	/////wCqAWj///////8AqwFl////////AKwBDRANAW///wCtARv///////8ArhQI////
	////ALAUBBEr/////wC0FSv///////8AvhQB////////AMAVLP///////wDDFDD/////
	//8AzxQT////////ANAUMf///////wDVACAgIP////8ACAVo////////AAoQAAEq////
	/wALEBUBJv////8ADBAJASf/////AA0QDwEo/////wAOEBABKf////8ADxAxASH/////
	ABEQMgEi/////wASEDMBI/////8AExA0AST/////ABQQNQEl/////wAVFDYFJv////8A
	FgFoEA7/////ABsUIBAg/////wAcAQ0QDQFv//8AHQEb////////AB4RCP///////wAg
	EAr///////8ALwEIEAgBRwUbADIBZxAM/////wA0AWYQC/////8ANRQaAVD/////AEkU
	GAVQ/////wBKIQn///////8AeBVn////////AHsVZv///////wB8FBYFUv////8AfRQC
	EVL/////AH4QOwEr/////wB/FAMBUv////8AjBQI////////ALAUBBEr/////wC0FSv/
	//////8AvhQB////////AMAVLP///////wDDFDD///////8AzxQT////////ANAUMf//
	/////wDVIQ0hb/////8A2BQaAVD/////AEkUGAVQ/////wBKICD///////8AVxQWBVL/
	////AH0UAhFS/////wB+FAMBUv////8AjBQZ////////AJ8UCP///////wCwFAQRK///
	//8AtBUr////////AL4UAf///////wDAFAYRLP////8AwRUs////////AMMUMP//////
	/wDPFBP///////8A0BQx////////ANX/////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////
	////////
	</data>
	<key>ローマ字</key>
	<data>
	AAAA/wEAAAIAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAABAAEAAQACAAEAAwABAAQAAAAEAAAABAAAAAQAAAAEAAAABAAAAAQAAAAE
	AAAABAAAAAQAAAAEAAAABAAAAAQAAAAEAAAABAAAAAQAAAAEAAAABAAAAAQAAAAEAAAA
	BAAAAAQAAAAEAAAABAAAAAQAAAAEAAAABAAAAAQAAAAEAAAABAAAAAQAAAAEAAAABAAA
	AAQAAAAEAAAABAAAAAQAAAAEAAAABAAAAAQAAAAEAAAABAAAAAQAAAAEAAEABQAAAAUA
	AQAGAAAABgAAAAYAAAAGAAEABwALABIACwAdABEALgABAC8ACwA6AAwARgALAFEAAQBS
	AAsAXQAMAGkAEAB5AAsAhAAOAJIAAQCTAAsAngAAAJ4ACwCpABAAuQAWAM8AAQDQAAYA
	1gAIAN4AEADuAAYA9AALAP8AAAD/AAAA/wAAAP8AAAD/AAAAAAEBAAIBAQAEAQEABgEB
	AAgBAQAKAQEADAEBAA4CAQARAgIAFQICABkCAgAdAgIAIQICACUDAwArAwMAMQMDADcD
	AwA9AwMAQwIBAEYDAgBLAwIAUAMBAFQDAgBZAwIAXgMCAGMDAgBoAwIAbQMCAHIDAgB3
	AgEAegICAH4CAgCCAwMAiAMDAI4DAwCUAwMAmgMDAKACAgCkAgIAqAICAKwDAwCyAwMA
	uAMDAL4DAwDEAwMAygMDANABAQDSAgEA1QICANkCAgDdAgIA4QICAOUCAQDoAwIA7QMC
	APIDAgD3AwIA/AMCAQECAQEEAgIBCAICAQwCAgEQAgIBFAICARgDAwEeAwMBJAMDASoD
	AwEwAwMBNgMDATwCAQE/AgEBQgIBAUUCAQFIAgEBSwIBAU4DAgFTAwIBWAMCAV0DAgFi
	AwIBZwEBAWkCAQFsAgMBcQIDAXYCAgF6AgMBfwIDAYQDAwGKAwMBkAMDAZYDAwGcAwMB
	ogIBAaUCAQGoAgEBqwIBAa4CAQGxAgEBtAMCAbkDAgG+AwIBwwMCAcgDAgHNAwIB0gIB
	AdUCAQHYAgEB2wIBAd4DAQHiAwEB5gIBAekEAQHuAwEB8gIBAfUDAQH5AwEB/QMBAgED
	AQIFAwECCQMBAg0CAQIQAgECEwIBAhYCAQIZAgECHAIBAh8DAgIkAwICKQMCAi4DAgIz
	AwICOAIBAjsCAQI+AgECQQIBAkQCAQJHAgECSgIBAk0CAQJQAgECUwMCAlgDAgJdAwIC
	YgMCAmcDAgJsAQECbgIBAnECAgJ1AgICeQICAn0CAgKBAgIChQMDAosDAwKRAwMClwMD
	Ap0DAwKjAgECpgIBAqkCAQKsAgECrwIBArICAQK1AwICugMCAr8DAgLEAwICyQMCAs4C
	AQLRAgEC1AIBAtcDAgLcAwIC4QMBAuUDAgLqAwIC7wIBAvICAQL1AgEC+AMCAv0DAgMC
	AwIDBwMCAwwDAgMRAgEDFAIBAxcCAQMaAwIDHwMCAyQDAgMpAwIDLgMCAzMCAQM2AgED
	OQMCAz4DAgNDAwIDSAMCA00DAQNRAgEDVAMCA1kDAgNeAwIDYwMCA2gDAgNtAwIDcgEB
	A3QCAQN3AgMDfAIDA4ECAwOGAgMDiwICA48CAQOSAgEDlQICA5kCAgOdAgEDoAIBA6MD
	AQOnAwEDqwIBA64CAQOxAgEDtAIBA7cDAQO7AwEDvwIBA8IEAQPHAwEDywIBA84DAQPS
	AwED1gMBA9oDAQPeAwED4gMBA+YCAQPpAgED7AICA/ACAQPzAgED9gIBA/kCAQP8AgIE
	AAICBAQCAgQIAgIEDAICBBADAwQWAwMEHAMDBCIDAwQoAwPd3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3dACz/ZAAt/3AA
	Lv9hAC//ZQBb/2IAXf9jAGH/cQBiAB//bwBiAGH/iv+eAGIAZf+N/54AYgBp/4v/ngBi
	AG//jv+eAGIAdf+M/54AYgB5AGH/i/+e/2wAYgB5AGX/i/+e/2oAYgB5AGn/i/+e/2gA
	YgB5AG//i/+e/24AYgB5AHX/i/+e/20AYwAf/28AYwBoAGH/gf9sAGMAaABl/4H/agBj
	AGgAaf+BAGMAaABv/4H/bgBjAGgAdf+B/20AYwB5AGH/gf9sAGMAeQBl/4H/agBjAHkA
	af+B/2gAYwB5AG//gf9uAGMAeQB1/4H/bQBkAB//bwBkAGH/gP+eAGQAZf+D/54AZABo
	AGH/g/+e/2wAZABoAGX/g/+e/2oAZABoAGn/g/+e/2gAZABoAG//g/+e/24AZABoAHX/
	g/+e/20AZABp/4H/ngBkAG//hP+eAGQAdf+C/54AZAB3AHX/hP+e/2kAZAB5AGH/gf+e
	/2wAZAB5AGX/gf+e/2oAZAB5AGn/gf+e/2gAZAB5AG//gf+e/24AZAB5AHX/gf+e/20A
	Zf90AGYAH/9vAGYAYf+M/2cAZgBl/4z/agBmAGn/jP9oAGYAb/+M/2sAZgB1/4wAZgB5
	AGH/jP9sAGYAeQBl/4z/agBmAHkAaf+M/2gAZgB5AG//jP9uAGYAeQB1/4z/bQBnAB//
	bwBnAGH/dv+eAGcAZf95/54AZwBp/3f/ngBnAG//ev+eAGcAdf94/54AZwB3AGH/eP+e
	/2cAZwB5AGH/d/+e/2wAZwB5AGX/d/+e/2oAZwB5AGn/d/+e/2gAZwB5AG//d/+e/24A
	ZwB5AHX/d/+e/20AaAAf/28AaABh/4oAaABl/40AaABp/4sAaABv/44AaAB1/4wAaAB5
	AGH/i/9sAGgAeQBl/4v/agBoAHkAaf+L/2gAaAB5AG//i/9uAGgAeQB1/4v/bQBp/3IA
	agAf/28AagBh/3z/nv9sAGoAZf98/57/agBqAGn/fP+eAGoAb/98/57/bgBqAHX/fP+e
	/20AagB5AGH/fP+e/2wAagB5AGX/fP+e/2oAagB5AGn/fP+e/2gAagB5AG//fP+e/24A
	agB5AHX/fP+e/20AawAf/28AawBh/3YAawBl/3kAawBp/3cAawBv/3oAawB1/3gAawB3
	AGH/eP9nAGsAeQBh/3f/bABrAHkAZf93/2oAawB5AGn/d/9oAGsAeQBv/3f/bgBrAHkA
	df93/20AbAAf/28AbABh/2cAbABl/2oAbABp/2gAbABrAGEAEgBsAGsAZQATAGwAb/9r
	AGwAdABzAHX/bwBsAHQAdf9vAGwAdf9pAGwAdwBhABQAbAB5AGH/bABsAHkAZf9qAGwA
	eQBp/2gAbAB5AG//bgBsAHkAdf9tAG0AH/9vAG0AYf+PAG0AZf+SAG0Aaf+QAG0Ab/+T
	AG0Adf+RAG0AeQBh/5D/bABtAHkAZf+Q/2oAbQB5AGn/kP9oAG0AeQBv/5D/bgBtAHkA
	df+Q/20AbgAe/50AbgAf/28AbgAn/50AbgBh/4UAbgBl/4gAbgBp/4YAbgBu/50AbgBv
	/4kAbgB1/4cAbgB5AGH/hv9sAG4AeQBl/4b/agBuAHkAaf+G/2gAbgB5AG//hv9uAG4A
	eQB1/4b/bQBv/3UAcAAf/28AcABh/4r/nwBwAGX/jf+fAHAAaf+L/58AcABv/47/nwBw
	AHX/jP+fAHAAeQBh/4v/n/9sAHAAeQBl/4v/n/9qAHAAeQBp/4v/n/9oAHAAeQBv/4v/
	n/9uAHAAeQB1/4v/n/9tAHIAH/9vAHIAYf+XAHIAZf+aAHIAaf+YAHIAb/+bAHIAdf+Z
	AHIAeQBh/5j/bAByAHkAZf+Y/2oAcgB5AGn/mP9oAHIAeQBv/5j/bgByAHkAdf+Y/20A
	cwAf/28AcwBh/3sAcwBl/34AcwBoAGH/fP9sAHMAaABl/3z/agBzAGgAaf98AHMAaABv
	/3z/bgBzAGgAdf98/20AcwBp/3wAcwBv/38AcwB1/30AcwB5AGH/fP9sAHMAeQBl/3z/
	agBzAHkAaf98/2gAcwB5AG//fP9uAHMAeQB1/3z/bQB0AB//bwB0AGH/gAB0AGX/gwB0
	AGgAYf+D/2wAdABoAGX/g/9qAHQAaABp/4P/aAB0AGgAb/+D/24AdABoAHX/g/9tAHQA
	af+BAHQAb/+EAHQAcwBh/4L/ZwB0AHMAZf+C/2oAdABzAGn/gv9oAHQAcwBv/4L/awB0
	AHMAdf+CAHQAdf+CAHQAdwB1/4T/aQB0AHkAYf+B/2wAdAB5AGX/gf9qAHQAeQBp/4H/
	aAB0AHkAb/+B/24AdAB5AHX/gf9tAHX/cwB2AB//bwB2AGH/c/+e/2cAdgBl/3P/nv9q
	AHYAaf9zACz/ZAAt/3AALv9hAC//ZQBb/2IAXf9jAGH/cQBiAB//bwBiAGH/iv+eAGIA
	Zf+N/54AYgBp/4v/ngBiAG//jv+eAGIAdf+M/54AYgB5AGH/i/+e/2wAYgB5AGX/i/+e
	/2oAYgB5AGn/i/+e/2gAYgB5AG//i/+e/24AYgB5AHX/i/+e/20AYwAf/28AYwBoAGH/
	gf9sAGMAaABl/4H/agBjAGgAaf+BAGMAaABv/4H/bgBjAGgAdf+B/20AYwB5AGH/gf9s
	AGMAeQBl/4H/agBjAHkAaf+B/2gAYwB5AG//gf9uAGMAeQB1/4H/bQBkAB//bwBkAGH/
	gP+eAGQAZf+D/54AZABoAGH/g/+e/2wAZABoAGX/g/+e/2oAZABoAGn/g/+e/2gAZABo
	AG//g/+e/24AZABoAHX/g/+e/20AZABp/4H/ngBkAG//hP+eAGQAdf+C/54AZAB3AHX/
	hP+e/2kAZAB5AGH/gf+e/2wAZAB5AGX/gf+e/2oAZAB5AGn/gf+e/2gAZAB5AG//gf+e
	/24AZAB5AHX/gf+e/20AZf90AGYAH/9vAGYAYf+M/2cAZgBl/4z/agBmAGn/jP9oAGYA
	b/+M/2sAZgB1/4wAZgB5AGH/jP9sAGYAeQBl/4z/agBmAHkAaf+M/2gAZgB5AG//jP9u
	AGYAeQB1/4z/bQBnAB//bwBnAGH/dv+eAGcAZf95/54AZwBp/3f/ngBnAG//ev+eAGcA
	df94/54AZwB3AGH/eP+e/2cAZwB5AGH/d/+e/2wAZwB5AGX/d/+e/2oAZwB5AGn/d/+e
	/2gAZwB5AG//d/+e/24AZwB5AHX/d/+e/20AaAAf/28AaABh/4oAaABl/40AaABp/4sA
	aABv/44AaAB1/4wAaAB5AGH/i/9sAGgAeQBl/4v/agBoAHkAaf+L/2gAaAB5AG//i/9u
	AGgAeQB1/4v/bQBp/3IAagAf/28AagBh/3z/nv9sAGoAZf98/57/agBqAGn/fP+eAGoA
	b/98/57/bgBqAHX/fP+e/20AagB5AGH/fP+e/2wAagB5AGX/fP+e/2oAagB5AGn/fP+e
	/2gAagB5AG//fP+e/24AagB5AHX/fP+e/20AawAf/28AawBh/3YAawBl/3kAawBp/3cA
	awBv/3oAawB1/3gAawB3AGH/eP9nAGsAeQBh/3f/bABrAHkAZf93/2oAawB5AGn/d/9o
	AGsAeQBv/3f/bgBrAHkAdf93/20AbAAf/28AbABh/2cAbABl/2oAbABp/2gAbABrAGEA
	EgBsAGsAZQATAGwAb/9rAGwAdABzAHX/bwBsAHQAdf9vAGwAdf9pAGwAdwBhABQAbAB5
	AGH/bABsAHkAZf9qAGwAeQBp/2gAbAB5AG//bgBsAHkAdf9tAG0AH/9vAG0AYf+PAG0A
	Zf+SAG0Aaf+QAG0Ab/+TAG0Adf+RAG0AeQBh/5D/bABtAHkAZf+Q/2oAbQB5AGn/kP9o
	AG0AeQBv/5D/bgBtAHkAdf+Q/20AbgAe/50AbgAf/28AbgAn/50AbgBh/4UAbgBl/4gA
	bgBp/4YAbgBu/50AbgBv/4kAbgB1/4cAbgB5AGH/hv9sAG4AeQBl/4b/agBuAHkAaf+G
	/2gAbgB5AG//hv9uAG4AeQB1/4b/bQBv/3UAcAAf/28AcABh/4r/nwBwAGX/jf+fAHAA
	af+L/58AcABv/47/nwBwAHX/jP+fAHAAeQBh/4v/n/9sAHAAeQBl/4v/n/9qAHAAeQBp
	/4v/n/9oAHAAeQBv/4v/n/9uAHAAeQB1/4v/n/9tAHIAH/9vAHIAYf+XAHIAZf+aAHIA
	af+YAHIAb/+bAHIAdf+ZAHIAeQBh/5j/bAByAHkAZf+Y/2oAcgB5AGn/mP9oAHIAeQBv
	/5j/bgByAHkAdf+Y/20AcwAf/28AcwBh/3sAcwBl/34AcwBoAGH/fP9sAHMAaABl/3z/
	agBzAGgAaf98AHMAaABv/3z/bgBzAGgAdf98/20AcwBp/3wAcwBv/38AcwB1/30AcwB5
	AGH/fP9sAHMAeQBl/3z/agBzAHkAaf98/2gAcwB5AG//fP9uAHMAeQB1/3z/bQB0AB//
	bwB0AGH/gAB0AGX/gwB0AGgAYf+D/2wAdABoAGX/g/9qAHQAaABp/4P/aAB0AGgAb/+D
	/24AdABoAHX/g/9tAHQAaf+BAHQAb/+EAHQAcwBh/4L/ZwB0AHMAZf+C/2oAdABzAGn/
	gv9oAHQAcwBv/4L/awB0AHMAdf+CAHQAdf+CAHQAdwB1/4T/aQB0AHkAYf+B/2wAdAB5
	AGX/gf9qAHQAeQBp/4H/aAB0AHkAb/+B/24AdAB5AHX/gf9tAHX/cwB2AB//bwB2AGH/
	c/+e/2cAdgBl/3P/nv9qAHYAaf9z/57/aAB2AG//c/+e/2sAdgB1/3P/ngB3AB//bwB3
	AGH/nAB3AGX/c/9qAHcAaf9z/2gAdwBv/2YAdwB1/3MAdwB5AGUAEQB3AHkAaQAQAHgA
	H/9vAHgAYf9nAHgAZf9qAHgAaf9oAHgAawBhABIAeABrAGUAEwB4AG//awB4AHQAcwB1
	/28AeAB0AHX/bwB4AHX/aQB4AHcAYQAUAHgAeQBh/2wAeAB5AGX/agB4AHkAaf9oAHgA
	eQBv/24AeAB5AHX/bQB5AB//bwB5AGH/lAB5AGX/cv9qAHkAaf9yAHkAb/+WAHkAdf+V
	AHoAH/9vAHoAYf97/54AegBl/37/ngB6AGn/fP+eAHoAb/9//54AegB1/33/ngB6AHkA
	Yf98/57/bAB6AHkAZf98/57/agB6AHkAaf98/57/aAB6AHkAb/98/57/bgB6AHkAdf98
	/57/bd3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d
	3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3dAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAA
	</data>
</dict>
</plist>
