### https://raw.github.com/github/gitignore/7e854d39915457f55afe9886daeef4b2a35dc772/Python.gitignore

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/


### https://raw.github.com/github/gitignore/7e854d39915457f55afe9886daeef4b2a35dc772/Global/Vim.gitignore

[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~


### https://raw.github.com/github/gitignore/7e854d39915457f55afe9886daeef4b2a35dc772/Global/OSX.gitignore

.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk


### https://raw.github.com/github/gitignore/7e854d39915457f55afe9886daeef4b2a35dc772/Global/Linux.gitignore

*~

# temporary files which can be created if a process still has a handle open of a deleted file
.fuse_hidden*

# KDE directory preferences
.directory

# Linux trash folder which might appear on any partition or disk
.Trash-*


# custom ignore
/.ruby-version
/.sass-cache
/.config/git
/.config/powerline/config.json
/.config/powerline/ext/segments/local_perl.py
/.config/powerline/themes/tmux/custom.json
/.config/ranger/bookmarks
/.config/ranger/history
/.config/vim/yankround
/.pentadactyl/info
/.screen/screen*.log
/.tmux/plugins
/.vim/.netrwhist
/.vim/chalice
/.vim/ftplugin/html.vim
/.vim/view
/vim/view
/ansible/hosts
/ansible/local_settings.retry
/history.sqlite
/lastfm-lover-session-key.txt
/mkmf.log
/quickfix.err
