.DS_Store
.DAV
tags
/.vim/bundle/*
!/.vim/bundle/neobundle.vim
/.vim/ftplugin/html.vim
/.pentadactyl/info
/.vim/chalice
*.pyc
*.pyo
lastfm-lover-session-key.txt
/.screen/screen*.log
/.vim/.netrwhist
quickfix.err
history.sqlite
.sass-cache
*.swp
/.config/vim/yankround
/.config/git
