[http]
	sslVerify = true
[color]
	ui = true
	status = auto
	diff = auto
	branch = auto
	grep = auto
[color "diff-highlight"]
	oldNormal = red
	oldHighlight = 160 bold white
	newNormal = green
	newHighlight = 65 bold white
[grep]
	lineNumber = true
[alias]
	ad = !git add $@ && git st
	ap = add -p
	br = branch
	ca = commit-autouser --amend
	caa = commit-autouser --amend --reuse-message HEAD
	cf = clean -df
	cm = commit-autouser
	cn = clean -dn
	co = checkout
	cp = cherry-pick
	dc = diff -w --diff-algorithm=default --cached
	dh = diff -w --histogram
	dhc = diff -w --color-words --histogram
	di = diff -w --diff-algorithm=default
	dic = diff -w --color-words --diff-algorithm=default
	dn = diff --name-only
	dp = diff -w --patience
	dpc = diff -w --color-words --patience
	ll = log --graph --date-order -C -M --pretty=format:\"<%h> %ad [%an] %Cgreen%d%Creset %s\" --all --date=short
	lo = log --decorate --graph --name-status --oneline
	po = pull origin master
	pu = !git push origin $(git rev-parse --abbrev-ref HEAD)
	pul = !git stash && git pull && git stash pop
	re = remote
	rh = reset --hard
	rl = reflog
	ri = rev-list --pretty --oneline
	rt = revert
	rv = remote -v
	sm = submodule
	st = status -sb
	su = !git br --set-upstream-to=origin/$(git rev-parse --abbrev-ref HEAD)
	wk = worktree
[diff]
	algorithm = histogram
	renames = true
	indentHeuristic = true
[url "git@github.com:"]
	pushinstedof = "git://github.com/"
	pushinstedof = "https://github.com/"
[user]
	email = delphinus@remora.cx
	name = delphinus
	signingkey = 32AB0B4F
[github]
[core]
	excludesfile = ~/git/dotfiles/.gitignore-global
	attributesfile = ~/git/dotfiles/.gitattributes
	autocrlf = false
	quotepath = false
	editor = vim
[github]
	user = delphinus
[pull]
	rebase = true
[rebase]
	autosquash = true
[merge]
	ff = false
[push]
	default = nothing
[tig]
	tab-size = 4
	line-graphics = utf-8
	main-view = line-number:no,interval=5 id:yes date:default author:full commit-title:yes,graph,refs,overflow=no
	diff-highlight = true
	mouse = true
[tig "bind"]
	generic = G none
[pager]
	log  = diff-so-fancy | less --pattern='^(added|deleted|modified|renamed): '
	show = diff-so-fancy | less --pattern='^(added|deleted|modified|renamed): '
	diff = diff-so-fancy | less --pattern='^(added|deleted|modified|renamed): '
[interactive]
	diffFilter = diff-so-fancy
[ghq]
	root = ~/.go/src
	root = ~/.cache/dein/repos
	root = ./vendor
[ghq "ssh://git@git.remora.cx"]
	vcs = git
[filter "hawser"]
	clean = git hawser clean %f
	smudge = git hawser smudge %f
	required = true
[include]
	path = .gitconfig_local
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true

[gpg]
	program = gpg2

# vim:se noet:
