[submodule ".vim/bundle/neobundle.vim"]
	path = .vim/bundle/neobundle.vim
	url = https://github.com/Shougo/neobundle.vim
[submodule "submodules/dircolors-solarized"]
	path = submodules/dircolors-solarized
	url = https://github.com/seebi/dircolors-solarized
[submodule "submodules/tmux-colors-solarized"]
	path = submodules/tmux-colors-solarized
	url = https://github.com/seebi/tmux-colors-solarized
[submodule "submodules/iterm-colors-pencil"]
	path = submodules/iterm-colors-pencil
	url = https://github.com/mattly/iterm-colors-pencil
[submodule ".zsh/zsh-notify"]
	path = .zsh/zsh-notify
	url = https://github.com/marzocchi/zsh-notify
[submodule ".tmux/plugins/tpm"]
	path = .tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "submodules/solarized"]
	path = submodules/solarized
	url = https://github.com/delphinus/solarized
[submodule "submodules/xterm_colour_chart"]
	path = submodules/xterm_colour_chart
	url = https://github.com/delphinus/xterm_colour_chart
[submodule ".zprezto"]
	path = .zprezto
	url = https://github.com/sorin-ionescu/prezto
