@font-face {
	font-family: serif;
	src: local('凸版文久明朝');
}
@font-face {
	font-family: sans-serif;
	src: local('ヒラギノ角ゴシック');
}
@font-face {
	font-family: Arial;
	src: local('ヒラギノ角ゴシック');
}
@font-face {
	font-family: monospace;
	src: local('Menlo');
}
@font-face {
	font-family: 'ヒラギノ角ゴ ProN W3';
	src: local('ヒラギノ角ゴシック');
}
@font-face {
	font-family: 'MS Gothic';
	src: local('ヒラギノ角ゴシック');
}
@font-face {
	font-family: 'MS UI Gothic';
	src: local('ヒラギノ角ゴシック');
}
@font-face {
	font-family: 'ＭＳ Ｐゴシック';
	src: local('ヒラギノ角ゴシック');
}
@font-face {
	font-family: 'Meiryo';
	src: local('ヒラギノ角ゴシック');
}
@font-face {
	font-family: 'メイリオ';
	src: local('ヒラギノ角ゴシック');
}
@font-face {
	font-family: 'Osaka';
	src: local('ヒラギノ角ゴシック');
}
@font-face {
    font-family: -apple-system-subset;
    src: local('ヒラギノ角ゴシック');
    unicode-range: U+0000-05C7;
}
@font-face {
    font-family: -serif-cyrillic;
    src: local(Times);
    unicode-range: U+0400-052F;
}
textarea,textarea *,pre,pre *,code,code *,tt,tt *,
.syntaxhighlighter .gutter div,
.blob-num, .blob-code,
.syntaxhighlighter a,
.syntaxhighlighter div,
.syntaxhighlighter code,
.syntaxhighlighter table,
.syntaxhighlighter table td,
.syntaxhighlighter table tr,
.syntaxhighlighter table tbody,
.syntaxhighlighter table thead,
.syntaxhighlighter table caption,
.syntaxhighlighter textarea,
.p6n-logs-entry,
.ace_editor
{
	font-family: Menlo !important;
}

/* Wikipedia */
.mw-parser-output .jis2004font,
table td b a.extiw
{
  font-family: -apple-system, "源ノ角ゴシック JP Normal","源ノ角ゴシック JP","Source Han Sans Normal","Source Han Sans","NotoSansJP-DemiLight","Noto Sans CJK JP DemiLight","ヒラギノ角ゴ ProN W3","ヒラギノ角ゴ ProN","Hiragino Kaku Gothic ProN","メイリオ",Meiryo,"新ゴ Pr6N R","A-OTF 新ゴ Pr6N R","小塚ゴシック Pr6N M","IPAexゴシック","Takaoゴシック","XANO明朝U32","XANO明朝","和田研中丸ゴシック2004絵文字","和田研中丸ゴシック2004ARIB","和田研中丸ゴシック2004P4","和田研細丸ゴシック2004絵文字","和田研細丸ゴシック2004ARIB","和田研細丸ゴシック2004P4","和田研細丸ゴシックProN",YOzFont04,"IPA Pゴシック","Yu Gothic UI","Meiryo UI","ＭＳ Ｐゴシック" !important;
}

html {
	font-family: 'ヒラギノ角ゴシック';
}
