@font-face {
	font-family: serif;
	src: local('凸版文久明朝');
}
@font-face {
	font-family: '游明朝';
	src: local('游明朝体');
}
@font-face {
	font-family: sans-serif;
	src: local(ui-sans-serif);
}
@font-face {
	font-family: Arial;
	src: local(ui-sans-serif);
}
@font-face {
	font-family: monospace;
	src: local(ui-monospace);
}
@font-face {
  font-family: Menlo;
  src: local(ui-monospace);
}
@font-face {
  font-family: Monaco;
  src: local(ui-monospace);
}
@font-face {
	font-family: 'ヒラギノ角ゴ ProN W3';
	src: local(ui-sans-serif);
}
@font-face {
	font-family: 'ヒラギノ角ゴ Pro W3';
	src: local(ui-sans-serif);
}
@font-face {
	font-family: 'Hiragino Kaku Gothic Pro';
	src: local(ui-sans-serif);
}
@font-face {
	font-family: 'MS Gothic';
	src: local(ui-sans-serif);
}
@font-face {
	font-family: 'MS UI Gothic';
	src: local(ui-sans-serif);
}
@font-face {
	font-family: 'ＭＳ Ｐゴシック';
	src: local(ui-sans-serif);
}
@font-face {
	font-family: 'Meiryo';
	src: local(ui-sans-serif);
}
@font-face {
	font-family: 'メイリオ';
	src: local(ui-sans-serif);
}
@font-face {
	font-family: 'Osaka';
	src: local(ui-sans-serif);
}
@font-face {
	font-family: 'Osaka-Mono';
	src: local(ui-monospace);
}
@font-face {
    font-family: -apple-system-subset;
    src: local('ヒラギノ角ゴシック');
    unicode-range: U+0000-05C7;
}
@font-face {
    font-family: -serif-cyrillic;
    src: local(Times);
    unicode-range: U+0400-052F;
}
textarea,textarea *,pre,pre *,code,code *,tt,tt *,
input[type="text"],input[type="email"],input[type="search"],
.blob-num, .blob-code, .blob-code-inner, .Vimdoc,
.syntaxhighlighter .gutter div,
.syntaxhighlighter a,
.syntaxhighlighter div,
.syntaxhighlighter code,
.syntaxhighlighter table,
.syntaxhighlighter table td,
.syntaxhighlighter table tr,
.syntaxhighlighter table tbody,
.syntaxhighlighter table thead,
.syntaxhighlighter table caption,
.syntaxhighlighter textarea,
.p6n-logs-entry,
.ace_editor,
/* Cloud Logging */
.log-line-container,
.logs-highlightable-text
{
	font-family: ui-monospace !important;
}

/* Wikipedia */
.mw-parser-output .jis2004font,
table td b a.extiw
{
  font-family: ui-sans-serif !important;
}

/* Karapia */
.widget-entry .widget-header, .widget-entry .widget-content {
	font-family: ui-sans-serif !important;
}

/* AWS */
.aws-data-table-ui-grid .ui-grid-cell,
.aws-data-table-ui-grid .grid-template-container div {
  font-family: ui-monospace;
}

html {
	font-family: ui-rounded;
}
