@font-face {
	font-family: serif;
	src: local('凸版文久明朝');
}
@font-face {
	font-family: sans-serif;
	src: local('Hiragino Sans');
}
@font-face {
	font-family: monospace;
	src: local('Menlo');
}
@font-face {
	font-family: 'MS Gothic';
	src: local('Hiragino Sans');
}
@font-face {
	font-family: 'Meiryo';
	src: local('Hiragino Sans');
}
@font-face {
	font-family: 'メイリオ';
	src: local('Hiragino Sans');
}
@font-face {
	font-family: 'Osaka';
	src: local('Hiragino Sans');
}
@font-face {
    font-family: -apple-system-subset;
    src: local(-apple-system);
    unicode-range: U+0000-05C7;
}
@font-face {
    font-family: -serif-cyrillic;
    src: local(Times);
    unicode-range: U+0400-052F;
}
textarea,textarea *,pre,pre *,code,code *,tt,tt *,
.syntaxhighlighter .gutter div,
.blob-num, .blob-code,
.syntaxhighlighter a,
.syntaxhighlighter div,
.syntaxhighlighter code,
.syntaxhighlighter table,
.syntaxhighlighter table td,
.syntaxhighlighter table tr,
.syntaxhighlighter table tbody,
.syntaxhighlighter table thead,
.syntaxhighlighter table caption,
.syntaxhighlighter textarea,
.p6n-logs-entry,
.ace_editor
{
	font-family: Menlo !important;
}

body {
	font-family: -apple-system-subset, '凸版文久ゴシック', 'Hiragino Sans';
}
