---
- name: make config for calling API
  template:
    src=office-api-config.json.j2
    dest='{{ item.filename }}'
  with_items: '{{ secret_office_api_config }}'

- name: make config for calling API for backend
  template:
    src=office-api-config-backend.json.j2
    dest='{{ item.filename }}'
  with_items: '{{ secret_office_api_config_backend }}'

- name: make dir for data connect setting
  file: path={{ item.path | dirname }} state=directory
  with_items: '{{ secret_office_data_connect }}'

- name: make content for data connect setting
  copy: dest={{ item.path }} content={{ item.json }}
  with_items: '{{ secret_office_data_connect }}'

- name: make content for client config
  copy: >-
    dest={{ secret_client_config.filename }}
    content={{ secret_client_config.json }}
