{% for profile in secret_aws_profile -%}
[profile {{ profile.name }}]
{% for key, value in profile.items() -%}
{% if key != 'name' -%}{{ key }} = {{ value }}
{% endif %}
{% endfor %}

{% endfor %}
{#- se:ft=conf.jinja: #}
