set -gx AWS_VAULT_BACKEND op-desktop
set -gx AWS_VAULT_OP_VAULT_ID {{ secret_aws_vault_op_vault_id }}
set -gx AWS_VAULT_OP_DESKTOP_ACCOUNT_ID {{ secret_aws_vault_op_desktop_account_id }}
{# vim: se ft=fish.jinja: #}
