{
	"common": {
		"term_truecolor": true,
		"paths": [
			"{{ ansible_env.HOME }}/git/dotfiles/.config/powerline"
		],
		"log_file": "/tmp/powerline.log"
	},
	"ext": {
		"ipython": {
			"colorscheme": "default",
			"theme": "in",
			"local_themes": {
				"rewrite": "rewrite",
				"out": "out",
				"in2": "in2"
			}
		},
		"pdb": {
			"colorscheme": "default",
			"theme": "default"
		},
		"shell": {
			"colorscheme": "solarized",
			"theme": "custom",
			"local_themes": {
				"continuation": "continuation",
				"select": "select"
			}
		},
		"tmux": {
			"colorscheme": "solarized{% if ansible_hostname in secret_light_bg_hosts %}light{% endif %}",
			"theme": "custom"
		},
		"vim": {
			"colorscheme": "solarized",
			"theme": "custom",
			"local_themes": {
				"__tabline__": "tabline",

				"cmdwin": "cmdwin",
				"help": "help",
				"quickfix": "quickfix",

				"powerline.matchers.vim.plugin.nerdtree.nerdtree": "plugin_nerdtree",
				"powerline.matchers.vim.plugin.commandt.commandt": "plugin_commandt",
				"powerline.matchers.vim.plugin.gundo.gundo": "plugin_gundo",
				"powerline.matchers.vim.plugin.gundo.gundo_preview": "plugin_gundo-preview",

				"ext.vim.matcher.calc": "plugin_calc",
				"ext.vim.matcher.calendar": "plugin_calendar",
				"ext.vim.matcher.fugitive": "plugin_fugitive",
				"ext.vim.matcher.gitcommit": "plugin_gitcommit",
				"ext.vim.matcher.iexe_mysql": "plugin_iexe_mysql",
				"ext.vim.matcher.ref_perldoc": "plugin_ref_perldoc",
				"ext.vim.matcher.unite": "plugin_unite"
			}
		},
		"wm": {
			"colorscheme": "default",
			"theme": "default"
		}
	}
}{# vim:se ft=json.jinja: #}
