dir = '{{ ansible_env.HOME }}/git/dotfiles'
ignores = [
    '\Abin/local_perl\.sh\z',
    '\A\.git/',
    '\A\.screen/(?:cpu|memory)\z',
    '\A\.?vim/view/',
    '\A\.?vim/dict/',
    '\A\.zsh/zsh-notify/',
    '\Asubmodules/',
    '\.pyc$',
    '\.sqlite$',
    '\.exe$',
    '\.rpm$',
    '\.tmux/resurrect',
    '\.tmux/plugins',
    '\.zprezto/modules/completion/external/src',
]
words = [
{% for word in secret_git_prohibited_words %}
    '{{ word }}',
{% endfor %}
]

[mail]
from = 'delphinus@remora.cx'
to = ['delphinus@remora.cx']

password = '{{ secret_git_prohibited_words_checker_password }}'
{# vim:se ft=toml.jinja2: #}
