#!/bin/bash

# This prevents pushing prohibited words e.g in-house information to
# github.com by mistake.
#
# Usage:
#
# Add words you do not want to publish to the internet as follow,
#   $ echo "secretword" >> ~/.git_prohibited_words
#
if git remote -v | grep -E '^.+\s+(git@github.com:|https?://github.com/).+\(push\)$' >/dev/null; then
  if [ -e ~/.git_prohibited_words ]; then
    while read -r word; do
      # Skip comment or blank lines
      echo "$word" | grep ^# > /dev/null && continue
      echo "$word" | grep '^\s*$' > /dev/null && continue

      if git diff --cached -U0 | grep -i "$word" > /dev/null; then
        echo "Can't commit because of including the prohibited word '$word'" >&2
        exit 1
      fi
    done < ~/.git_prohibited_words
  fi
fi

#{# vim:se ft=sh.jinja: #}
