[github]
    token = {{ secret_office.github_token.ghr }}
{% for info in secret_repo_info %}
[url "{{ info.url }}"]
	insteadOf = {{ info.insteadOf }}
{% endfor %}
[ghq]
{% for root in secret_root_for_ghq %}
	root = {{ root }}
{% endfor -%}
{%- for info in secret_repo_info_for_ghq -%}
[ghq "{{ info.url }}"]
	vcs = {{ info.vcs }}
{% endfor -%}
{%- for info in secret_autouser -%}
[autouser-{{ info.repo }}]
	url-regexp = {{ info.regexp }}
	name = "{{ info.name }}"
	email = {{ info.email }}
{% endfor %}
{%- if ansible_hostname in secret_office.hostnames %}
[hub]
	host = {{ secret_hub_host }}
{% endif %}

{# vim:se ft=gitconfig.jinja: #}
# vim:se ft=gitconfig:
