[ghq]
{% for root in secret_root_for_ghq %}
	root = {{ root }}
{% endfor -%}
{%- for info in secret_repo_info_for_ghq -%}
[ghq "{{ info.url }}"]
	vcs = {{ info.vcs }}
{% endfor -%}
{%- for info in secret_autouser -%}
[autouser-{{ info.repo }}]
	url-regexp = {{ info.regexp }}
	name = "{{ info.name }}"
	email = {{ info.email }}
{% endfor -%}
