# -*- coding: utf-8 -*-
# vim:se ft=python fenc=utf8 noet:

import re
import socket
from powerline.theme import requires_segment_info

@requires_segment_info
def local_perl(pl, segment_info, format='{app}:{version}'):
	if socket.gethostname() not in {{ secret_office.hostnames | pprint }}:
		return None
	version = segment_info['environ'].get('PERLBREW_PERL')
	if version is None or version == {{ secret_default_perl_version | pprint }}:
		return None
	version = re.sub('perl-', '', version)
	app = segment_info['environ'].get('{{ secret_local_perl_app }}') or 'system'
	return [{
		'contents': format.format(version=version, app=app),
		'highlight_groups': ['local_perl', 'user'],
		}]

#{# vim:se ft=python.jinja: #}
