[mysql]
default-character-set=utf8
prompt='\\u: [\\d] \\r:\\m \\P> '
auto-rehash
show-warnings
pager  = grcat ~/.grcat
{% if ansible_hostname in secret_office.mysqld_multi_host %}

[mysqld_multi]
mysqld     = /usr/local/opt/mysql56/bin/mysqld_safe
mysqladmin = /usr/local/opt/mysql56/bin/mysqladmin
user = multi_admin
password = multipass

[mysqld1]
server-id       = 1
user            = root
port            = 3306
datadir         = /usr/local/var/mysql1
socket          = /tmp/mysql.sock1
pid-file        = /tmp/mysqld.pid1
language        = /usr/local/share/mysql/japanese
sync_binlog     = 1
log-bin         = mysql-bin
log-bin-index   = mysql-bin
relay-log       = relay-bin
relay-log-index = relay-bin

[mysqld2]
server-id       = 2
user            = root
port            = 3307
datadir         = /usr/local/var/mysql2
socket          = /tmp/mysql.sock2
pid-file        = /tmp/mysqld.pid2
language        = /usr/local/share/mysql/japanese
read_only
log-slave-updates
log-bin         = mysql-bin
log-bin-index   = mysql-bin
relay-log       = relay-bin
relay-log-index = relay-bin
{% endif %}
{# vim:se ft=dosini.jinja: #}
