{
  "client_id": "{{ item.client_id }}",
  "client_secret": "{{ item.client_secret }}",
  "connect_origin": "{{ item.connect_origin }}",
  "origin": "{{ item.origin }}",
  "schema_dir": "{{ item.schema_dir }}"
}{# vim:se ft=json.jinja2: #}
