{% for env in secret_office_env_vars -%}
export {{ env.name }}={{ env.value }}
{% endfor -%}
export PERL5LIB={{ ':'.join(secret_office_perl_perl5lib) }}:$PERL5LIB
export PERL_CPANM_OPT="
{%- for mirror in secret_cpanm_mirrors %}--mirror {{ mirror }} {% endfor -%}
--no-lwp $PERL_CPANM_OPT"
export PERL_CARTON_MIRROR={{ secret_cpanm_mirrors[0] }}
use vim
{# vim:se ft=direnv.jinja: #}
