function! s:project_setting() abort
  let projects_to_fix = {{ secret_office_projects_to_fix | to_json }}
  let dir = expand('%:p:h')
  for project in projects_to_fix
    if stridx(dir, project) == -1
      let b:ale_fix_on_save = 0
    endif
  endfor

  let perl_exes = {{ secret_office_perl_executables | to_json }}
  for [project, perl_ver] in perl_exes
    if stridx(dir, project) > -1
      let b:ale_perl_perl_executable = expand('~/.plenv/versions/' . perl_ver . '/bin/perl')
    endif
    call delphinus#perlpath#set(perl_ver)
  endfor
endfunction

call s:project_setting()
{# vim:se ft=vim.jinja: #}
