let s:projects_to_fix = {{ secret_office_projects_to_fix | to_json }}
let s:dir = expand('%:p:h')
for s:project in s:projects_to_fix
  if stridx(s:dir, s:project) > -1
    finish
  endif
endfor
let b:ale_fix_on_save = 0
{# vim:se ft=vim.jinja: #}
