Host *
  ForwardAgent yes
  GSSAPIAuthentication yes
  GSSAPIDelegateCredentials yes
  PubkeyAuthentication yes
  ServerAliveCountMax 20
  ServerAliveInterval 15

{% for host in secret_ssh.hosts -%}
Host {{ host.name }}
  {% if 'socks_port' in host -%}
  DynamicForward {{ host.socks_port }}
  {% endif -%}
  {% if 'vnc_port' in host -%}
  LocalForward {{ host.vnc_port }} localhost:5900
  {% endif -%}
  Hostname {{ secret_ssh.target }}
  Port {{ host.port }}
  User {{ host.user }}

{% endfor -%}

Host {{ secret_ssh.target }}
  User delphinus

Match exec "[[ %h = {{ secret_ssh.git }} ]] && pgrep -fl ssh | grep {{ secret_ssh.hosts[0].name }} > /dev/null"
  ProxyCommand nc -x localhost:{{ secret_ssh.socks_port }} %h %p
{#- vim:se ft=sshconfig.jinja #}
