Host *
  SendEnv LC_* LANG
  ForwardAgent yes
  GSSAPIAuthentication yes
  GSSAPIDelegateCredentials yes
  PubkeyAuthentication yes
  ServerAliveCountMax 20
  ServerAliveInterval 15
  IdentityAgent "{{ secret_identity_agent }}"

{% for h in secret_ssh.hosts -%}
Host {{ h.name }}
  Hostname {{ h.host }}
  User {{ h.user }}
  {% if 'port' in h -%}
  Port {{ h.port }}
  {% endif -%}
  {% if 'socks_port' in h -%}
  DynamicForward {{ h.socks_port }}
  {% endif -%}
  {% if 'vnc_port' in h -%}
  LocalForward {{ h.vnc_port }} localhost:5900
  {% endif -%}
  {% if 'ignore_check' in h -%}
  StrictHostKeyChecking no
  UserKnownHostsFile /dev/null
  {% endif %}

{% endfor -%}

#Match exec "bash -c '[[ %h = {{ secret_ssh.git }} ]] && pgrep -fl ssh | grep {{ secret_ssh.hosts[0].name }} > /dev/null'"
  #ProxyCommand nc -x localhost:{{ secret_ssh.socks_port }} %h %p
{#- vim:se ft=sshconfig.jinja: #}
