# [Created by task 2.5.1 6/1/2016 21:56:00]
# Taskwarrior program configuration file.
# For more documentation, see http://taskwarrior.org or try 'man task', 'man task-color',
# 'man task-sync' or 'man taskrc'

# Here is an example of entries that use the default, override and blank values
#   variable=foo   -- By specifying a value, this overrides the default
#   variable=      -- By specifying no value, this means no default
#   #variable=foo  -- By commenting out the line, or deleting it, this uses the default

# Use the command 'task show' to see all defaults and overrides

# Files
data.location=~/.task

# Color theme (uncomment one to use)
#include /usr/local/Cellar/task/2.5.1/share/doc/task/rc/light-16.theme
#include /usr/local/Cellar/task/2.5.1/share/doc/task/rc/light-256.theme
#include /usr/local/Cellar/task/2.5.1/share/doc/task/rc/dark-16.theme
#include /usr/local/Cellar/task/2.5.1/share/doc/task/rc/dark-256.theme
#include /usr/local/Cellar/task/2.5.1/share/doc/task/rc/dark-red-256.theme
#include /usr/local/Cellar/task/2.5.1/share/doc/task/rc/dark-green-256.theme
#include /usr/local/Cellar/task/2.5.1/share/doc/task/rc/dark-blue-256.theme
#include /usr/local/Cellar/task/2.5.1/share/doc/task/rc/dark-violets-256.theme
#include /usr/local/Cellar/task/2.5.1/share/doc/task/rc/dark-yellow-green.theme
#include /usr/local/Cellar/task/2.5.1/share/doc/task/rc/dark-gray-256.theme
#include /usr/local/Cellar/task/2.5.1/share/doc/task/rc/dark-gray-blue-256.theme
#include /usr/local/Cellar/task/2.5.1/share/doc/task/rc/solarized-dark-256.theme
#include /usr/local/Cellar/task/2.5.1/share/doc/task/rc/solarized-light-256.theme
#include /usr/local/Cellar/task/2.5.1/share/doc/task/rc/no-color.theme

include {{ task_rc_dir }}/holidays.jp-JP.rc
include {{ task_rc_dir }}/solarized-{% if ansible_hostname in secret_light_bg_hosts %}light{% else %}dark{% endif %}-256.theme
calendar.holidays=full
alias.lw=list pro=work and ( pri=M or pri=H or pri= )
alias.lh=list pro=home and ( pri=M or pri=H or pri= ) tag!={{ secret_task_tag }}
alias.lht=list pro=home and ( pri=M or pri=H or pri= ) tag={{ secret_task_tag }}
alias.lwa=list pro=work
alias.lha=list pro=home
alias.aw=add pro=work pri=M
alias.ah=add pro=home pri=M
alias.aht=add pro=home pri=M tag={{ secret_task_tag }}
alias.bd=burndown.daily
alias.bw=burndown.weekly
alias.bm=burndown.monthly
rule.precedence.color=deleted,completed,active,keyword.,project.,overdue,scheduled,blocked,blocking,due.today,due,tag.,recurring,tagged,uda.
color.blocking=color7 on color59
color.due=color3
color.calendar.due=color7 on color3
color.calendar.holiday=color7 on color6
color.active=rgb422
color.uda.priority.M=
color.tagged=
color.tag.none=color11
{% for info in secret_task_tag_color %}
color.tag.{{ info.tag }}=color{{ info.color }}
{% endfor %}
report.list.sort=priority-,start-,due+,project+,urgency-
taskd.certificate={{ secret_taskd.certificate }}
taskd.key={{ secret_taskd.key }}
taskd.ca={{ secret_taskd.ca }}
taskd.server={{ secret_taskd.server }}
taskd.credentials={{ secret_taskd.credentials }}
taskd.trust=ignore hostname

{# vim:se ft=taskrc.jinja: #}
# vim:se ft=taskrc:
