function tm --description 'launch tmux with my session'
    # attach the existent session and return
    tmux attach-session -d; and return

    tmux new-session \; \
        new-window \; \
        new-window \; \
        new-window \; \
        new-window \; \
        send-keys 'while true; prettyping 8.8.8.8; sleep 3; end' C-m \; \
        split-window -v \; \
        resize-pane -y 80% \; \
        send-keys "while true; prettyping $OFFICE_JIRA; sleep 3; end" C-m \; \
        split-window -h \; \
        send-keys "watch -n1 dig +short $OFFICE_JIRA" C-m \; \
        split-window -v \; \
        resize-pane -y 70% \; \
        send-keys bpytop C-m \; \
        select-window -t 1
end

# vim:se ft=fish.jinja:
