#!/usr/bin/perl
use 5.30.0;
use warnings;
use feature 'signatures';
no warnings "experimental::signatures";
binmode STDOUT => ':encoding(UTF-8)';

my $vpn_on = chr 0xe9a8; # 󰖩
my $vpn_off = chr 0xe9a9; # 󰖪
my $home = chr 0xf7db; # 󰋜
my $office = chr 0xf0f7; # 

my $normal_host = '8.8.8.8';
my $vpn_host = $ENV{OFFICE_JIRA};
printf '#[bg=brightblack]%s%s %s', pinger($home, $normal_host), pinger($office, $vpn_host), vpn();

sub pinger ($icon, $host) {
    my ($latency) = `/sbin/ping -c1 -t1 $host` =~ /time=(\d+\.\d+)/;
    return '#[fg=red] ---' if !defined $latency;
    $latency += 0;
    my $color = $latency < 10 ? 'green' :
        $latency < 50 ? 'yellow' :
        'magenta';
    return sprintf '#[fg=%s] %s  %.2f ms', $color, $icon, $latency;
}

sub vpn {
    my $is_on = `/sbin/ifconfig` =~ 'ppp0';
    return $is_on ? "#[fg=black,bg=green,bold] $vpn_on  VPN ON " : "#[fg=red,bg=black] $vpn_off  VPN OFF ";
}

# vim:se ft=perl.jinja:
