#!/usr/bin/perl
use 5.30.0;
use warnings;

my $phone_on = chr 0xebf7; #   #
my $phone_off = chr 0xebf4; #   #
my $vpn_on = chr 0xeda8; #   #
my $vpn_off = chr 0xeda9; #   #
my $home = chr 0xeadb; #   #
my $office = chr 0xf0f7; #   #

my $normal_host = '8.8.8.8';
my $vpn_host = '{{ secret_vpn_host }}';
printf '#[bg=brightblack]%s%s %s', pinger($home, $normal_host), pinger($office, $vpn_host), vpn();

sub pinger {
    my ($icon, $host) = @_;
    my ($latency) = `/sbin/ping -c1 -t1 $host` =~ /time=(\d+\.\d+)/;
    return '#[fg=red] ---' if !defined $latency;
    $latency += 0;
    my $color = $latency < 10 ? 'green' :
        $latency < 50 ? 'yellow' :
        'magenta';
    return sprintf '#[fg=%s] %s  %.2f ms', $color, $icon, $latency;
}

sub vpn {
    my $is_on = system 'ifconfig | grep ppp0' == 0;
    return $is_on ? "#[fg=black,bg=green,bold] $vpn_on  VPN ON " : "#[fg=red,bg=black] $vpn_off  VPN OFF ";
}

# vim:se ft=perl.jinja:
