# hostnames
{% for host in secret_vpn_hosts %}{{ host }}
{% endfor %}

# static entries
{% for entry in secret_vpn_hosts_entries %}{{ entry }}
{% endfor %}

# vim{{ ':se ft=conf:' }}
{#- vim:se ft=conf.jinja: #}
