if index(['{{ secret_office.hostnames | join("', '") }}'], hostname()) > -1
  let g:gista#client#default_username = '{{ secret_office.github_user }}'
  let g:gista#client#default_apiname = 'GHE'
  let g:gista_github_api_path = '{{ secret_office.github_api_path }}'
else
  let g:gista#client#default_username = 'delphinus'
endif

if index(['{{ secret_office.vm_hostnames | join("', '") }}'], hostname()) > -1
{{ secret_vim_setting }}
endif

augroup SpecialIndent
  autocmd!
  autocmd FileType json if expand('%:p') =~# '{{ secret_special_indent_json }}' | se ts=3 sts=3 sw=3 | endif
augroup END

let g:WebDevIconsOS = '{{ ansible_system }}'

" for fugitive & rhubarb
let g:fugitive_github_domains = ['{{ secret_office.github_host }}']
let g:RHUBARB_TOKEN = '{{ secret_office.github_token.rhubarb }}'

{# vim:se ft=vim.jinja: #}
" vim:se ft=vim:
