if index(['{{ secret_office.hostnames | join("', '") }}'], hostname()) > -1
  let g:gista#client#default_username = '{{ secret_office.github_user }}'
  let g:gista#client#default_apiname = 'GHE'
  let g:gista_github_api_path = '{{ secret_office.github_api_path }}'
else
  let g:gista#client#default_username = 'delphinus'
endif

if index(['{{ secret_office.vm_hostnames | join("', '") }}'], hostname()) > -1
{{ secret_vim_setting }}
endif

let g:WebDevIconsOS = '{{ ansible_system }}'
let g:local_perl_cmdopt = '{{ secret_local_perl_cmdopt }}'

" for fugitive & rhubarb
let g:fugitive_github_domains = ['{{ secret_office.github_host }}']
let g:RHUBARB_TOKEN = '{{ secret_office.github_token.rhubarb }}'
