---
- hosts: localhost
  gather_facts: true
  vars_files:
    - vars/main.yml
    - vars/secrets.yml

  tasks:
    - include: tasks/dotfiles.yml
    - include: tasks/secrets.yml
    - include: tasks/pip.yml
    - include_tasks: tasks/secrets_office.yml
      when: ansible_hostname in secret_office.hostnames

# vim:se ft=yaml.ansible:
