[ftplugin] #{{{
applescript = 'inoremap <buffer> <A-m> ￢<CR>'

c = ''' "{{{
  setlocal tabstop=8
  setlocal shiftwidth=8
  setlocal softtabstop=8
  setlocal noexpandtab
"}}} '''

css = 'setlocal iskeyword+=-'

fish = ''' "{{{
  set tabstop=2
  set shiftwidth=2
  set softtabstop=2
"}}} '''

gitcommit = 'setlocal colorcolumn=50,72'

go_gohtmltmpl = ''' "{{{
  set tabstop=4
  set shiftwidth=4
  set softtabstop=4
"}}} '''

help = 'setlocal nolist nonumber norelativenumber'

html_javascript = ''' "{{{
  setlocal tabstop=2
  setlocal shiftwidth=2
  setlocal softtabstop=2
"}}} '''

jinja = ''' "{{{
  if &filetype =~ '\.jinja$'
    ALEDisableBuffer
    let b:ale_fix_on_save = 0
  endif
"}}} '''

json = ''' "{{{
  setlocal tabstop=4
  setlocal shiftwidth=4
  setlocal softtabstop=4
  setlocal nocursorcolumn
  setlocal foldmethod=syntax
  setlocal foldtext=JsonFoldText()

  function! JsonFoldText() abort
    let line = getline(v:foldstart)
    let sub = substitute(line, '\v^\s+([^"]*")?', '', '')
    let sub = substitute(sub, '\v("[^"]*)?\s*$', '', '')
    let level = len(v:folddashes)
    if level <= 12
      let level = nr2char(0x2170 + level - 1) . ' '
    endif
    return printf('%s %3d 行: %s ', level, v:foldend - v:foldstart + 1, sub)
  endfunction
"}}} '''

perl = ''' "{{{
  setlocal tabstop=4
  setlocal shiftwidth=4
  setlocal softtabstop=4

  if $PERL5LIB !=# ''
    let &l:path = substitute($PERL5LIB, ':', ',', 'g')
  endif
"}}} '''

php = 'setlocal expandtab'

python = ''' "{{{
  setlocal tabstop=4
  setlocal softtabstop=4
  setlocal shiftwidth=4

  call delphinus#ale#set_pylintrc()
"}}} '''

qf = ''' "{{{
  let b:dwm_disabled = 1
  let b:cursorword = 0
  set nonumber
  set norelativenumber
  set nolist
  set colorcolumn=
"}}} '''

ruby = ''' "{{{
  setlocal tabstop=2
  setlocal shiftwidth=2
  setlocal softtabstop=2

  function! s:rspec_syntax_highlight()
    hi def link rubyRailsTestMethod Function
    syn keyword rubyRailsTestMethod describe context it its specify shared_context shared_examples shared_examples_for shared_context include_examples include_context it_should_behave_like it_behaves_like before after around subject fixtures controller_name helper_name scenario feature background given described_class
    syn match rubyRailsTestMethod '\<let\>!\='
    syn keyword rubyRailsTestMethod violated pending expect expect_any_instance_of allow allow_any_instance_of double instance_double mock mock_model stub_model xit
    syn match rubyRailsTestMethod '\.\@<!\<stub\>!\@!'
  endfunction

  autocmd Syntax ruby if ! RailsDetect() | call s:rspec_syntax_highlight() | endif
"}}} '''

scss = 'setlocal iskeyword+=-'

sh = 'setlocal ts=2 sts=2 sw=2'

toml = ''' "{{{
  set tabstop=2
  set shiftwidth=2
  set softtabstop=2
  setlocal foldmethod=marker
"}}} '''

undotree = ''' "{{{
  let b:dwm_disabled = 1
  execute 'vertical resize' g:undotree_SplitWidth
"}}} '''

vim = ''' "{{{
  setlocal expandtab
  setlocal shiftwidth=2
  setlocal softtabstop=2
  setlocal tabstop=2
"}}} '''

vue = ''' "{{{
  setlocal iskeyword+=$
  setlocal iskeyword+=-
"}}} '''
#}}}

# Shougowares and their dependencies {{{
[[plugins]]
repo = 'Shougo/dein.vim'
hook_add = ''' "{{{
  function s:dein_cleanup() abort
    echo '[dein] Removing disabled plugins...'
    call map(dein#check_clean(), "delete(v:val, 'rf')")
    call dein#recache_runtimepath()
    echohl WarningMsg
    echo '[dein] Successfully removed disabled plugins'
    echohl None
  endfunction

  command DeinCleanUp call s:dein_cleanup()
"}}} '''

[[plugins]]
repo = 'delphinus/vim-denite-memo'

[[plugins]]
repo = 'fishbullet/deoplete-ruby'

[[plugins]]
repo = 'rafi/vim-denite-z'

[[plugins]]
repo = 'roxma/nvim-yarp'
hook_add = '''
  " Set path for python3 for python37u packages in CentOS7
  if executable('python3')
    let g:python3_host_prog = exepath('python3')
  elseif executable('python3.7')
    let g:python3_host_prog = exepath('python3.7')
  elseif executable('python3.6')
    let g:python3_host_prog = exepath('python3.6')
  endif
'''

[[plugins]]
repo = 'roxma/vim-hug-neovim-rpc'

[[plugins]]
repo = 'ujihisa/neco-look'

[[plugins]]
repo = 'zchee/deoplete-zsh'
# }}}

# basic {{{
[[plugins]]
repo     = 'airblade/vim-rooter'

[[plugins]]
repo = 'delphinus/vim-auto-cursorline'

[[plugins]]
repo = 'delphinus/vim-data-section-simple'

[[plugins]]
repo = 'delphinus/vim-quickfix-height'

[[plugins]]
repo     = 'direnv/direnv.vim'
#repo     = 'delphinus/direnv.vim'
#rev      = 'feature/direnv-export-post'

[[plugins]]
repo     = 'freitass/todo.txt-vim'
hook_add = '''
  let g:todo_load_python = 1
'''

[[plugins]]
repo = 'haya14busa/is.vim'

[[plugins]]
repo     = 'rbong/vim-crystalline'
hook_add = ''' "{{{
  function! StatusLine(current, width)
    let l:s = ''

    if a:current
      let l:s .= crystalline#mode() . crystalline#right_mode_sep('')
    else
      let l:s .= '%#CrystallineInactive#'
    endif
    let l:s .= ' %f%h%w%m%r '
    if a:current
      let l:s .= crystalline#right_sep('', 'Fill') . ' %{exists("*fugitive#head") ? fugitive#head() : ""}'
    endif

    let l:s .= '%='

    if a:current
      let l:s .= crystalline#left_sep('', 'Fill') . ' %{AsciiChar()} %{&paste ?"PASTE ":""}%{&spell?"SPELL ":""}'
      let l:s .= crystalline#left_mode_sep('')
    endif
    if a:width > 80
      let l:s .= ' %{&ft}[%{&fenc!=#""?&fenc:&enc}][%{&ff}] %l/%L %c%V %P '
    else
      let l:s .= ' '
    endif

    return l:s
  endfunction

  " use here :ascii instead of strgetchar() because the latter cannot catch
  " combined characters.
  " See https://stackoverflow.com/questions/23323747/vim-vimscript-get-exact-character-under-the-cursor
  function AsciiChar() abort
    " if char on cursor is `Λ̊`, :ascii returns below.
    " <Λ> 923, 16進数 039b, 8進数 1633 < ̊> 778, 16進数 030a, 8進数 1412
    let tmp = execute(':ascii')
    let chars = []
    call substitute(tmp, '<.>\s\+\d\+,\s\+\S\+ \x\+,\s\+\S\+ \d\+', '\=add(chars, submatch(0))', 'g')
    if len(chars) == 0
      return ''
    endif
    let ascii = []
    for c in chars
      let m = matchlist(c, '<\(.\)>\s\+\d\+,\s\+\S\+ \(\x\+\)')
      if len(m) > 0
        call add(ascii, printf('%s %s', m[1], m[2]))
      endif
    endfor
    return join(ascii, ' ')
  endfunction

  function! TabLine()
    let l:vimlabel = has('nvim') ?  ' NVIM ' : ' VIM '
    return crystalline#bufferline(2, len(l:vimlabel), 1) . '%=%#CrystallineTab# ' . l:vimlabel
  endfunction

  let g:crystalline_enable_sep = 1
  let g:crystalline_statusline_fn = 'StatusLine'
  let g:crystalline_tabline_fn = 'TabLine'
  let g:crystalline_theme = 'nord'

  set showtabline=2
  set guioptions-=e
  set laststatus=2
"}}} '''

[[plugins]]
repo     = 'ryanoasis/vim-devicons'
hook_add = ''' "{{{
  "   U+E287
  "   U+F07B
  "   U+E601
  "   U+E60e
  "   U+E769
  "   U+E7C4
  "   U+f542
  let g:webdevicons_enable_nerdtree = 0
  let g:WebDevIconsUnicodeByteOrderMarkerDefaultSymbol = "\ue287"
  let g:WebDevIconsUnicodeDecorateFolderNodesDefaultSymbol = "\uf07b"
  " overwrite setting for 'vue' to use U+F542
  let g:WebDevIconsUnicodeDecorateFileNodesExtensionSymbols = {
        \ 'fcgi':     "\ue769",
        \ 'perl':     "\ue769",
        \ 'sqlite':   "\ue7c4",
        \ 'tt':       "\ue60e",
        \ 'txt':      "\ue601",
        \ 'vue':      "\uf542",
        \ }
"}}} '''

[[plugins]]
repo     = 'tpope/vim-fugitive'
hook_add = ''' "{{{
  nnoremap git :<c-u>Git
  nnoremap g<space> :<c-u>Git 
  nnoremap d< :diffget //2<CR>
  nnoremap d> :diffget //3<CR>
  nnoremap gs :Gstatus<CR>
  nnoremap gc :Gbrowse<CR>
  vnoremap gc :Gbrowse<CR>
"}}} '''

[[plugins]]
repo    = 'tpope/vim-rhubarb'
depends = ['fugitive']
# setting exists in .vimrc-local

[[plugins]]
repo = 'tpope/vim-repeat'

[[plugins]]
repo = 'vim-jp/vimdoc-ja'

[[plugins]]
repo     = 'wincent/terminus'
# }}}

# colorscheme {{{
[[plugins]]
repo     = 'arcticicestudio/nord-vim'
hook_add = ''' "{{{
  let g:nord_italic = 1
  let g:nord_italic_comments = 1
  let g:nord_underline = 1
  let g:nord_uniform_diff_background = 1
  let g:nord_uniform_status_lines = 1
  let g:nord_cursor_line_number_background = 1

  augroup nord-overrides
    autocmd!
    autocmd ColorScheme nord hi Comment guifg=#CDD0BB
    autocmd ColorScheme nord hi Delimiter guifg=#81A1C1
    autocmd ColorScheme nord hi DeniteFilter guifg=#D8DEE9 guibg=#183203 ctermfg=NONE ctermbg=0 gui=NONE
    autocmd ColorScheme nord hi FloatPreview guifg=#D8DEE9 guibg=#183203 ctermfg=NONE ctermbg=0 gui=NONE
    autocmd ColorScheme nord hi FloatPreviewTransparent guifg=#183203 guibg=#183203 ctermfg=NONE ctermbg=0 gui=NONE
    autocmd ColorScheme nord hi Folded guifg=#D08770 gui=NONE
    autocmd ColorScheme nord hi Identifier guifg=#8FBCBB
    autocmd ColorScheme nord hi NormalFloat guifg=#D8DEE9 guibg=#0B1900 ctermfg=NONE ctermbg=0 gui=NONE
    autocmd ColorScheme nord hi Special guifg=#D08770
    autocmd ColorScheme nord hi Title gui=bold cterm=bold

    " for gitgutter
    autocmd ColorScheme nord hi SignifyLineAdd ctermbg=233 guibg=#122b0c
    autocmd ColorScheme nord hi SignifyLineChange ctermbg=236 guibg=#342e0e
    autocmd ColorScheme nord hi SignifyLineDelete ctermbg=235 guibg=#4e2728

    if has('nvim')
      autocmd ColorScheme nord hi GitGutterAddLineNr guifg=#a3be8c guibg=#163601 gui=bold
      autocmd ColorScheme nord hi GitGutterChangeDeleteLineNr guifg=#ebcb8b guibg=#432d00 gui=bold
      autocmd ColorScheme nord hi GitGutterChangeLineNr guifg=#ebcb8b guibg=#432d00 gui=bold
      autocmd ColorScheme nord hi GitGutterDeleteLineNr guifg=#bf616a guibg=#52050c gui=bold

      " for ALE
      autocmd ColorScheme nord hi ALEErrorSignLineNr guifg=#bf616a guibg=#52050c gui=bold
      autocmd ColorScheme nord hi ALEInfoSignLineNr guifg=#5e81ac guibg=#153b68 gui=bold
      autocmd ColorScheme nord hi ALEStyleErrorSignLineNr guifg=#bf616a guibg=NONE gui=bold
      autocmd ColorScheme nord hi ALEStyleWarningSignLineNr guifg=#ebcb8b guibg=NONE gui=bold
      autocmd ColorScheme nord hi ALEWarningSignLineNr guifg=#ebcb8b guibg=#432d00 gui=bold
      autocmd ColorScheme nord hi ALEErrorSign guifg=#bf616a guibg=#52050c gui=bold
      autocmd ColorScheme nord hi ALEInfoSign guifg=#5e81ac guibg=#153b68 gui=bold
      autocmd ColorScheme nord hi ALEStyleErrorSign guifg=#bf616a guibg=NONE gui=bold
      autocmd ColorScheme nord hi ALEStyleWarningSign guifg=#ebcb8b guibg=NONE gui=bold
      autocmd ColorScheme nord hi ALEWarningSign guifg=#ebcb8b guibg=#432d00 gui=bold
      autocmd ColorScheme nord hi ALEVirtualTextError guifg=#bf616a guibg=#52050c gui=bold
      autocmd ColorScheme nord hi ALEVirtualTextInfo guifg=#5e81ac guibg=#153b68
      autocmd ColorScheme nord hi ALEVirtualTextStyleError guifg=#bf616a guibg=NONE
      autocmd ColorScheme nord hi ALEVirtualTextStyleWarning guifg=#ebcb8b guibg=NONE
      autocmd ColorScheme nord hi ALEVirtualTextWarning guifg=#ebcb8b guibg=#432d00

      " LSP diagnostics
      autocmd ColorScheme nord hi LSPDiagnosticsError guifg=#bf616a guibg=#52050c gui=bold
      autocmd ColorScheme nord hi LSPDiagnosticsHint guifg=#a3be8c guibg=#456c26
      autocmd ColorScheme nord hi LSPDiagnosticsInformation guifg=#5e81ac guibg=#153b68
      autocmd ColorScheme nord hi LSPDiagnosticsWarning guifg=#ebcb8b guibg=#432d00
    endif
  augroup END
"}}} '''

[[plugins]]
repo     = 'lifepillar/vim-solarized8'
hook_add = ''' "{{{
  let g:solarized_diffmode = 'normal'
  let g:solarized_enable_extra_hi_groups = 1
  let g:solarized_visibility = 'normal'
  let g:solarized_term_italics = 1

  function! s:solarized8_overrides(background) abort
    if a:background ==# 'dark'
      hi NormalFloat ctermfg=247 ctermbg=236 guifg=#93a1a1 guibg=#01232b guisp=NONE cterm=NONE gui=NONE
      hi DeniteFilter ctermfg=247 ctermbg=236 guifg=#93a1a1 guibg=#262c00 guisp=NONE cterm=NONE gui=NONE
      hi FloatPreview ctermfg=247 ctermbg=236 guifg=#93a1a1 guibg=#262c00 guisp=NONE cterm=NONE gui=NONE
      hi FloatPreviewTransparent ctermfg=247 ctermbg=236 guifg=#262c00 guibg=#262c00 guisp=NONE cterm=NONE gui=NONE

      " for gitgutter
      hi SignifyLineAdd ctermbg=192 guibg=#262c00
      hi SignifyLineChange ctermbg=230 guibg=#674e00
      hi SignifyLineDelete ctermbg=224 guibg=#7d2500
      hi SignifyLineAdd ctermbg=192 guibg=#262c00
      hi SignifyLineChange ctermbg=230 guibg=#423200
      hi SignifyLineDelete ctermbg=224 guibg=#571a00
      if has('nvim')
        hi GitGutterAddLineNr guifg=#859900 guibg=#424c00 gui=bold
        hi GitGutterChangeLineNr guifg=#b58900 guibg=#674e00 gui=bold
        hi GitGutterDeleteLineNr guifg=#cb4b16 guibg=#7d2500 gui=bold
        hi GitGutterChangeDeleteLineNr guifg=#b58900 guibg=#674e00 gui=bold

        " for ALE
        hi ALEErrorSignLineNr guifg=#cb4b16 guibg=#674e00 gui=bold
        hi ALEStyleErrorSignLineNr guifg=#cb4b16 guibg=#674e00 gui=bold
        hi ALEWarningSignLineNr guifg=#b58900 guibg=#674e00 gui=bold
        hi ALEStyleWarningSignLineNr guifg=#b58900 guibg=#674e00 gui=bold
        hi ALEInfoSignLineNr guifg=#859900 guibg=#424c00 gui=bold
      endif
    else
      hi NormalFloat ctermfg=242 ctermbg=254 guifg=#586e75 guibg=#fffcf4 guisp=NONE cterm=NONE gui=NONE
      hi DeniteFilter ctermfg=242 ctermbg=254 guifg=#586e75 guibg=#c2d735 guisp=NONE cterm=NONE gui=NONE
      hi FloatPreview ctermfg=242 ctermbg=254 guifg=#586e75 guibg=#c2d735 guisp=NONE cterm=NONE gui=NONE
      hi FloatPreviewTransparent ctermfg=242 ctermbg=254 guifg=#c2d735 guibg=#c2d735 guisp=NONE cterm=NONE gui=NONE

      " fot gitgutter
      hi SignifyLineAdd ctermbg=192 guibg=#f0f9e2
      hi SignifyLineChange ctermbg=230 guibg=#fff4c9
      hi SignifyLineDelete ctermbg=224 guibg=#ffe9ef
      if has('nvim')
        hi GitGutterAddLineNr guifg=#ebfa88 guibg=#a3b812 gui=bold
        hi GitGutterChangeLineNr guifg=#fff6d8 guibg=#dbae0e gui=bold
        hi GitGutterDeleteLineNr guifg=#ffe4d8 guibg=#e66f3c gui=bold
        hi GitGutterChangeDeleteLineNr guifg=#fff6d8 guibg=#dbae0e gui=bold

        " for ALE
        hi ALEErrorSignLineNr guifg=#ffe4d8 guibg=#e66f3c gui=bold
        hi ALEStyleErrorSignLineNr guifg=#ffe4d8 guibg=#e66f3c gui=bold
        hi ALEWarningSignLineNr guifg=#fff6d8 guibg=#dbae0e gui=bold
        hi ALEStyleWarningSignLineNr guifg=#fff6d8 guibg=#dbae0e gui=bold
        hi ALEInfoSignLineNr guifg=#ebfa88 guibg=#a3d812 gui=bold
      endif
    endif
  endfunction

  augroup solarized8-overrides
    autocmd!
    autocmd ColorScheme solarized8 call <SID>solarized8_overrides(&background)
    autocmd ColorScheme solarized8_flat call <SID>solarized8_overrides(&background)
    autocmd ColorScheme solarized8_high call <SID>solarized8_overrides(&background)
    autocmd ColorScheme solarized8_low call <SID>solarized8_overrides(&background)
  augroup END
"}}} '''

[[plugins]]
repo = 'mtyn/polar'
rtp  = 'vim'
# }}}

# syntax {{{
[[plugins]]
repo = 'Glench/Vim-Jinja2-Syntax'

[[plugins]]
repo = 'HerringtonDarkholme/yats.vim'

[[plugins]]
repo = 'Vimjas/vim-python-pep8-indent'

[[plugins]]
repo = 'aklt/plantuml-syntax'

[[plugins]]
repo = 'cespare/vim-toml'

[[plugins]]
repo = 'delphinus/vim-toml-dein'

[[plugins]]
repo = 'hail2u/vim-css3-syntax'

[[plugins]]
repo = 'isobit/vim-caddyfile'

[[plugins]]
repo = 'nikvdp/ejs-syntax'

[[plugins]]
repo = 'plasticboy/vim-markdown'
hook_add = ''' "{{{
  let g:vim_markdown_conceal = 0
  let g:vim_markdown_folding_disabled = 1
  let g:vim_markdown_new_list_item_indent = 2
"}}} '''

[[plugins]]
repo = 'digitaltoad/vim-pug'

[[plugins]]
repo = 'isRuslan/vim-es6'

[[plugins]]
repo = 'kchmck/vim-coffee-script'

[[plugins]]
repo = 'motemen/xslate-vim'

[[plugins]]
repo = 'moznion/vim-cpanfile'

[[plugins]]
repo = 'pboettch/vim-cmake-syntax'
hook_add = ''' "{{{
  autocmd BufNewFile,BufRead CMake*,*.cmake.*,*.cmake set filetype=cmake
"}}} '''

[[plugins]]
repo     = 'vim-perl/vim-perl'
hook_add = ''' "{{{
  let g:perl_include_pod = 1
  unlet! g:perl_no_scope_in_variables
  unlet! g:perl_no_extended_vars
  let g:perl_string_as_statement = 1
  unlet! g:perl_no_sync_on_sub
  unlet! g:perl_no_sync_on_global_var
  let g:perl_sync_dist = 1000
  let g:perl_fold = 1
  unlet! g:perl_fold_blocks
  let g:perl_nofold_packages = 1
  unlet! g:perl_nofold_subs
  let g:perl_fold_anonymous_subs = 1
  let g:perl_sub_signatures = 1
"}}} '''
# }}}

# filetype {{{
[[plugins]]
repo = 'asciidoc/vim-asciidoc'

[[plugins]]
repo = 'c9s/perlomni.vim'

[[plugins]]
repo = 'dNitro/vim-pug-complete'

[[plugins]]
repo = 'dag/vim-fish'

[[plugins]]
repo = 'delphinus/vim-firestore'

[[plugins]]
repo = 'gisphm/vim-gitignore'
hook_add = '''
  augroup DetectOtherIgnores
    autocmd!
    autocmd BufNewFile,BufRead .gcloudignore set filetype=gitignore
  augroup END
'''

[[plugins]]
repo = 'kchmck/vim-coffee-script'
hook_add = '''
  augroup DetectCSON
    autocmd!
    autocmd BufNewFile,BufRead *.cson set filetype=coffee
  augroup END
'''

[[plugins]]
repo = 'jason0x43/vim-js-indent'

[[plugins]]
repo = 'pangloss/vim-javascript'

[[plugins]]
repo     = 'pearofducks/ansible-vim'
hook_add = '''
  let g:ansible_name_highlight = 'b'
  let g:ansible_extra_keywords_highlight = 1
'''

[[plugins]]
repo     = 'posva/vim-vue'

[[plugins]]
repo = 'ternjs/tern_for_vim'
hook_add = ''' "{{{
  let g:tern#command = ['tern']
  let g:tern#arguments = ['--persistent']
"}}} '''
hook_post_update = '''
  !npm install -g tern
'''

[plugins.ftplugin]
javascript = ''' "{{{
  nnoremap <buffer> <silent> gd :TernDef<CR>
  nnoremap <buffer> <silent> <C-]> :TernDef<CR>
  nnoremap <buffer> <silent> <C-LeftMouse> :TernDef<CR>
  nnoremap <buffer> <silent> <C-w>] :TernDef<CR>
  nnoremap <buffer> <silent> <C-w><C-]> :TernDef<CR>
  nnoremap <buffer> <silent> K :TernType<CR>
"}}} '''

[[plugins]]
repo = 'tmux-plugins/vim-tmux'
# }}}

# vim-script {{{
[[plugins]]
repo = 'vim-scripts/HiColors'

[[plugins]]
repo = 'vim-scripts/applescript.vim'

[[plugins]]
repo = 'vim-scripts/autodate.vim'
hook_add = '''let g:autodate_format = '%FT%T%z' '''

[[plugins]]
repo = 'vim-scripts/fontforge_script.vim'

[[plugins]]
repo = 'vim-scripts/nginx.vim'
# }}}

# dependencies {{{
[[plugins]]
repo = 'inkarkat/vim-ingo-library'

[[plugins]]
repo = 'kana/vim-textobj-user'
# }}}
