import = [
  "/Users/jinnouchi.yasushi/.config/alacritty/nord.toml",
  "/Users/jinnouchi.yasushi/.alacritty-env.toml"
]

[shell]
program = "/Users/jinnouchi.yasushi/git/dotfiles/bin/tmux-run"

[cursor]
style = { shape = "Beam", blinking = "On" }
vi_mode_style = { shape = "Underline" }
unfocused_hollow = true
thickness = 0.5

[env]
TERM = "xterm-256color"

# need $LANG settings for man
LANG = "ja_JP.UTF-8"
LC_COLLATE = "ja_JP.UTF-8"
LC_CTYPE = "ja_JP.UTF-8"
LC_MESSAGES = "ja_JP.UTF-8"
LC_MONETARY = "ja_JP.UTF-8"
LC_NUMERIC = "ja_JP.UTF-8"
LC_TIME = "ja_JP.UTF-8"
LC_ALL = ""

[font]
size = 16.0
normal = { family = "SF Mono Square", style = "Regular" }
#bold = { style = "Bold" }
#bold_italic = { style = "Bold Italic" }
#italic = { style = "Italic" }

[terminal]
osc52 = "CopyPaste"

[window]
decorations = "Buttonless"
opacity = 0.98
option_as_alt = "Both"
padding = { x = 9, y = 5 }
dynamic_padding = true
resize_increments = true

[[keyboard.bindings]]
key = "["
mods = "Command"
mode = "~Search"
action = "ToggleViMode"

[[keyboard.bindings]]
key = "Q"
mods = "None"
mode = "Vi"
action = "ToggleViMode"

[[hints.enabled]]
regex = "([a-z]+://)[^\u0000-\u001F\u007F-\u009F<>\"\\s{-}\\^⟨⟩`│⏎]+"
hyperlinks = true
post_processing = true
persist = false
command = "open"
mouse = { mods = "Command", enabled = true }
binding = { key = "U", mods = "Command|Shift" }

[[hints.enabled]]
# URL or filepath or hash-like string or constant-like string
regex = "(([a-z]+://)[^\u0000-\u001F\u007F-\u009F<>\"\\s{-}\\^⟨⟩`│⏎]+|~?([-\\w\\.]*/)+[-\\w\\.]*|[a-f\\d]{4,}|[A-Z_]{4,})"
hyperlinks = true
post_processing = true
persist = false
action = "Copy"
binding = { key = "U", mods = "Command" }
